mat-card {
  widows: 80%;
  margin: auto;
  border-radius: 1px;
  border-color: darkblue;
}
textarea {
  border-color: cyan;
}

button {
  color: blue;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}
