<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="enteredTitle"
        ngModel
        placeholder="title"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid && title.touched"
        >Title is required</mat-error
      >
    </mat-form-field>
    <br />
    <hr />
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="enteredContent"
        ngModel
        placeholder="description"
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid && content.touched"
        >Description is required</mat-error
      >
    </mat-form-field>
    <br />
    <hr />
    <button mat-raised-button color="accent" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
